body{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

header{
    border:1px solid #4c00ff;
    width: auto;
    padding: 10px;
    background-image: url(../image/pexels-cottonbro-studio-4669103.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 600;
    overflow: hidden;


}
header div{
    width: 30%;
    color:#fff;

}
header div a{
    background-color: aqua;
    border:1px solid aqua;
    padding: 7px;
    text-decoration: none;
    color: #fff;
    margin: 10px;
    
}
header div a:hover{
    background-color: transparent;
    border:1px solid aqua;
    padding: 7px;
    text-decoration: none;
    color: aqua;
}
header div p{
    text-align: justify;
}


.corpo{
    border: 1px solid black;
    box-sizing: border-box;
    width: 100%;
    text-align: justify;
    

}
.corpo .corpo1{
    width: 40%;
    float: left;
    box-sizing: border-box;

}


.corpo .corpo2{
    width: 60%;
    float: right;
    box-sizing: border-box;

}




section{
background-color: #ccc;    width: 100%;
margin: 0px   ;

}
section h1{
    text-align: center;
    margin: 0px;
    padding: 10px;
    text-decoration: underline;

}

.artigo{
    width: auto;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    margin: 0px;

}
.artigo div{
    float: left;
    width: 50%;
    box-sizing: border-box;}


.artigo img{
    float: right;
    width: 50%;
    height: 300px;
    box-sizing: border-box;
}

.artigo2{
    width: auto;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    margin: 0px;
    background-color: #bba2a25b;
}
.artigo2 div{
    float: left;
    width: 50%;
    box-sizing: border-box;}

.artigo2 img{
    float: right;
    width: 50%;
    height: 300px;
    box-sizing: border-box;
}
    



footer{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
footer .contato{
    box-sizing: border-box;
    width: 50%;
    height: 100px;
    float: left;
    padding: 10px;
    background-color: rgb(25, 34, 87);
    color: #ccc;
    margin: 0px;

}
footer .contato p{
    box-sizing: border-box;
    overflow: hidden;
}

footer  .contato h2{
    margin: 0px;
}

footer .contato p a{
    box-sizing: border-box;
    float: right;
    text-align: left;
    width: 90%;
    color: #fff;
    text-decoration: none;

}
footer .contato p i{
    box-sizing: border-box;
    float: left;
    width: 10%;
}

footer  .redes{
    box-sizing: border-box;
    width: 50%;
    float: right;
    padding: 10px;
    height: 100px;
    background-color: rgb(25, 34, 87);
    overflow: hidden;
    color: #ccc;
    overflow: hidden;

}
footer  .redes h2{
    margin: 0px;
}


footer .redes p a{
    box-sizing: border-box;
    float: right;
    text-align: left;
    width: 90%;
    color: #fff;
    text-decoration: none;
}
footer .redes p i{
    box-sizing: border-box;
    float: left;
    width: 10%;
}